openai
llama-index
llama-index-llms-openai
llama-index-llms-gemini
llama-index-llms-groq
llama-index-llms-ollama
langchain
langchain-openai
langchain-google-genai
langchain-groq
langchain-ollama
groq
google-genai
ollama
python-dotenv